.shapka {
	background: linear-gradient(#0099FF, #0033FF);
		border-radius: 8px;
		border: 0px;
		margin: 0px;
}

.ula {
	list-style: none;
	margin: 0;
	padding: 10px;
}

.AAA {
	text-decoration: none;
}

.eline {
	display: inline;
}

button {
	border-radius: 10px;
	border: 1px;
}

.text {
	margin: 5px;
    background: #dbdbdb;
	padding: 10px;
	border-radius: 6px;
	border: 1px;


}

.text2 {
	margin-top: 15px;
	width: 350px;
    background: linear-gradient(#99FFFF, #00CCFF);
	padding: 10px;
	padding-right: 10px;
	border-radius: 30px;
	border: 1px;
}
.photo {
border-radius: 4px;
width: 30%;
height:30%;
}
